img {
  width: 100%;
  height: auto;
  display: block;
}
body {
  max-width: 1200px;
  margin: 0 auto;
}
.produktliste main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 276px));
  gap: 2rem;
}
.produktliste article {
  display: flex;
  flex-direction: column;
}

/* baggrund */
body {
  background-color: rgb(40, 40, 40);
}

/* fonts*/
h1 {
  font-family: "Tulpen One", cursive;
  font-size: 8rem;
  margin-top: 5px;
  color: white;
  padding-top: 20px;
}
.shadow {
  text-shadow: 70px 60px 70px #ff0000, /* Red shadow */ -70px -3px 70px #00ff00, /* Green shadow */ 70px -10px 70px #0000ff, /* Blue shadow */ -70px 90px 70px #ffff00, /* Yellow shadow */ -30px 10px 70px khaki;
}
h2 {
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 2px;
}
h3 {
  color: lightgray;
  font-family: "Rajdhani", sans-serif;
}

h4 {
  font-family: Arial, Helvetica, sans-serif;
  color: whitesmoke;
  font-size: 2.2rem;
  margin-top: 10px;
}
p {
  color: gray;
  font-family: "Rajdhani", sans-serif;
  margin: 0;
}
a {
  text-decoration: none;
}
nav a {
  color: whitesmoke;
  font-family: "Rajdhani", sans-serif;
  margin-right: 10px;
  font-size: 1.2rem;
}

.kategoriliste {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.2rem;
}
.kategoriliste a {
  color: whitesmoke;
  text-decoration: none;
  padding: 2rem;
  background-color: grey;
  border-radius: 10px;
  text-underline-offset: 2px;
  font-family: "Rajdhani", sans-serif;
  font-size: 1.5rem;
}

/* header */

@media (min-width: 700px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
