img {
  width: 100%;
  height: auto;
  display: block;
}
body {
  max-width: 1200px;
  margin: 0 auto;
}
.produktliste main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 276px));
  gap: 2rem;
  margin-bottom: 20px;
}
.produktliste article {
  display: flex;
  flex-direction: column;
}
.smallProduct a {
  text-decoration: none;
}
ol {
  list-style: none;
}
li {
  list-style: none;
  text-align: center;
}

.text {
  font-size: 20px;
}
/* baggrund */
body {
  background-color: rgb(40, 40, 40);
}

.shop {
  display: flex;
  justify-content: center;
  color: whitesmoke;
  font-family: "Rajdhani", sans-serif;
  font-size: 20px;
}
.bbu {
  background-image: url(billeder/bbu.svg);
}

/* fonts*/
h1 {
  font-family: "Tulpen One", cursive;
  font-size: 5rem;
  margin-top: 5px;
  color: white;
  padding-top: 20px;
}

.shadow {
  text-shadow: 200px 100px 400px #ff00c8, -400px -200px 400px #fd0, 300px -200px 400px #00f, -90px -100px 300px khaki, 100px 200px 300px purple, 100px 200px 300px whitesmoke, -1px -3px 1px black, -90px -100px 300px seashell;
}
h2 {
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 2px;
}
h3 {
  color: lightgray;
  font-family: "Rajdhani", sans-serif;
  margin: 0;
}

h4 {
  font-family: Arial, Helvetica, sans-serif;
  color: whitesmoke;
  font-size: 2.2rem;
  margin-top: 10px;
}
p {
  color: gray;
  font-family: "Rajdhani", sans-serif;
  margin-top: -18px;
}
dl {
  color: lightgray;
}
/*
a:hover {
  text-decoration: underline whitesmoke;
}
*/
a {
  text-decoration: none;
}
dd,
dt {
  font-family: Arial, Helvetica, sans-serif;
  padding: 2px;
}
dd {
  padding-bottom: 20px;
  margin: 0;
}

dt {
  text-decoration: underline;
}
article a {
  color: whitesmoke;
  text-decoration: underline darkgrey;
}
nav a {
  color: whitesmoke;
  font-family: "Rajdhani", sans-serif;
  margin-right: 5px;
  font-size: 1.2rem;
  text-decoration: underline darkgray;
}
.info h3 {
  font-size: 2rem;
  margin-bottom: 110px;
}
.info .text {
  font-size: 3rem;
}
.info p {
  font-size: 1.5rem;
}

.kategoriliste a {
  color: whitesmoke;
  text-decoration: none;
  padding: 1rem;
  border-radius: 10px;
  text-underline-offset: 2px;
  font-family: "Rajdhani", sans-serif;
  font-size: 1.5rem;
}
/*
.strball {
  width: 75%;
  margin-bottom: 20px;
}
*/

/* Produkt side */
.grid1_1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.imgstr {
  width: 75%;
  margin-bottom: 20px;
  padding-left: 100px;
}
/* .tilbud {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.tilbud p {
  text-align: end;
  background-color: red;
  padding: 0.2rem;
  color: whitesmoke;
  margin: 0;
  padding-left: 7px;
  margin-left: 96px;
  font-size: 19px;
} */
.soldout::before {
  content: "UDSOLGT";
  position: absolute;
  background: whitesmoke;
  color: black;
  padding: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: solid;
  pointer-events: none;
}

.udsalg::before {
  content: "TILBUD";
  position: absolute;
  background: red;
  color: whitesmoke;
  padding: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: solid;
}

article.soldout img {
  opacity: 0.5;
  pointer-events: none;
}

/*******  pris *******/

.rrabat {
  color: red;
  text-align: end;
  font-size: 20px;
}
.rrabatryk {
  color: red;
  text-align: left;
  font-size: 20px;
}
.rpris {
  color: red;
  font-size: 20px;
}

.price {
  color: whitesmoke;
}

.discount {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* Forside */
.forsidetext {
  text-align: center;
  font-size: 20rem;
  margin: 0;
  padding-top: 70px;
}
.bb {
  background-image: url(billeder/bb.svg);
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;
}

@media (min-width: 700px) {
  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 150px;
    margin-left: 150px;
  }

  li {
    color: whitesmoke;
    display: flex;
    gap: 47px;
    row-gap: 47px;
    column-gap: 47px;
    border-bottom: 1px solid white;
  }
}
/* header */

@media (min-width: 700px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (min-width: 800px) {
  ol {
    column-count: 2;
  }
}
