img {
  width: 100%;
  height: auto;
  display: block;
}
body {
  max-width: 1200px;
  margin: 0 auto;
}
.produktliste main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 276px));
  gap: 2rem;
  margin-bottom: 20px;
}
.produktliste article {
  display: flex;
  flex-direction: column;
}

/* baggrund */
body {
  background-color: rgb(40, 40, 40);
}

/* fonts*/
h1 {
  font-family: "Tulpen One", cursive;
  font-size: 8rem;
  margin-top: 5px;
  color: white;
  padding-top: 20px;
}

.shadow {
  text-shadow: 200px 100px 400px #ff00c8, -400px -200px 400px #fd0, 300px -200px 400px #00f, -90px -100px 300px khaki, 100px 200px 300px purple, 100px 200px 300px whitesmoke, -1px -3px 1px black, -90px -100px 300px seashell;
}
h2 {
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 2px;
}
h3 {
  color: lightgray;
  font-family: "Rajdhani", sans-serif;
  margin: 0;
}

h4 {
  font-family: Arial, Helvetica, sans-serif;
  color: whitesmoke;
  font-size: 2.2rem;
  margin-top: 10px;
}
p {
  color: gray;
  font-family: "Rajdhani", sans-serif;
  margin-top: -18px;
}
dl {
  color: lightgray;
}
/*
a:hover {
  text-decoration: underline whitesmoke;
}
*/
a {
  text-decoration: none;
}
dd,
dt {
  font-family: Arial, Helvetica, sans-serif;
  padding: 2px;
}
dd {
  padding-bottom: 20px;
  margin: 0;
}
article a {
  color: whitesmoke;
  text-decoration: underline darkgrey;
}
nav a {
  color: whitesmoke;
  font-family: "Rajdhani", sans-serif;
  margin-right: 5px;
  font-size: 1.2rem;
  text-decoration: underline darkgray;
}
.info h3 {
  font-size: 2rem;
  margin-bottom: 110px;
}
.info .text {
  font-size: 3rem;
}
.info p {
  font-size: 1.5rem;
  margin-top: -35px;
}
.kategoriliste {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.2rem;
}
.kategoriliste a {
  color: whitesmoke;
  text-decoration: none;
  padding: 2rem;
  background-color: grey;
  border-radius: 10px;
  text-underline-offset: 2px;
  font-family: "Rajdhani", sans-serif;
  font-size: 1.5rem;
}

.strball {
  width: 75%;
  margin-bottom: 20px;
}
.grid1_1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.tilbud {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.tilbud p {
  text-align: end;
  background-color: red;
  padding: 0.2rem;
  color: whitesmoke;
  margin: 0;
  padding-left: 7px;
  margin-left: 96px;
  font-size: 19px;
}
article.udsolgt::before {
  content: "UDSOLGT";
  position: absolute;
  background: whitesmoke;
  color: black;
  padding: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: solid;
}

article.tilbudpris::before {
  content: "TILBUD";
  position: absolute;
  background: red;
  color: whitesmoke;
  padding: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: solid;
}

article.udsolgt img {
  opacity: 0.5;
}

/* Forside */
.forsidetext {
  text-align: center;
  font-size: 30rem;
  margin: 0;
}
@media (min-width: 700px) {
  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 150px;
    margin-left: 150px;
  }
  ul a {
    color: whitesmoke;
    font-family: "Rajdhani", sans-serif;
    margin: 10px;
    font-size: 1.5rem;
  }
  li {
    color: whitesmoke;
  }
}
/* header */

@media (min-width: 700px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
